@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Josefin+Slab:wght@200;400&display=swap');
.App {
  width: 100%;
  height: 100vh;
  background: #F4EBE4;
}

.active {
  border: 5px solid black;
  background: linear-gradient(90deg, #FFD096, #FFD4CB);
}
@media screen and (max-width:765px) {
  .App{
    height: calc(100vh - 6vh);
    overflow: hidden;
  }
}